{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'css/libs.bundle.css' %}å">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}">

    <!-- Title -->
    <title>Artesanato com MIMO</title>
  </head>
  <body class="bg-light">

    <!-- WELCOME -->
    <section class="pt-8 pt-md-12 pb-12 pb-md-15">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Headin -->
            <h1 class="display-1 fw-bold">
              Artesanato com MIMO
            </h1>

            <!-- Text -->
            <p class="lead text-secondary mb-4">
              We design & build products, tools, apps, and sites for companies trying to do great things for our planet.
            </p>

            <!-- Badges -->
            <nav class="nav justify-content-center">
              <a class="badge rounded-pill text-bg-secondary-subtle active me-1 mb-1" href="#" data-bs-toggle="pill" data-filter="*" data-bs-target="#portfolio">
                <span class="h6 text-uppercase">Bonecos</span>
              </a>
              <a class="badge rounded-pill text-bg-secondary-subtle me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".product" data-bs-target="#portfolio">
                <span class="h6 text-uppercase">Panos</span>
              </a>
              <a class="badge rounded-pill text-bg-secondary-subtle me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".ux" data-bs-target="#portfolio">
                <span class="h6 text-uppercase">Estojos</span>
              </a>
              <a class="badge rounded-pill text-bg-secondary-subtle me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".resources" data-bs-target="#portfolio">
                <span class="h6 text-uppercase">Outros</span>
              </a>
            </nav>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- CONTENT -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
      <div class="container">
        <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
          <div class="col-12 col-md-4 product">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Branding</h6>

                <!-- Heading -->
                <h4 class="mb-0">Curology Campaign</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 resources">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Packaging</h6>

                <!-- Heading -->
                <h4 class="mb-0">Honest Packaging</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 ux">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Branding</h6>

                <!-- Heading -->
                <h4 class="mb-0">Larq Bright Campaign</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 resources">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Ideation</h6>

                <!-- Heading -->
                <h4 class="mb-0">Doodle Pads</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 product">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Branding</h6>

                <!-- Heading -->
                <h4 class="mb-0">Larq Earthtones Collection</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 resources">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Product Design</h6>

                <!-- Heading -->
                <h4 class="mb-0">Goby Brush Prototype</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 product">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Product Design</h6>

                <!-- Heading -->
                <h4 class="mb-0">Larq Bottle Redesign</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 ux">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Product Design</h6>

                <!-- Heading -->
                <h4 class="mb-0">Goby Packaging </h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 ux">

            <!-- Card -->
            <a class="card card-flush mb-7" href="#!">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://images.unsplash.com/photo-1700062638751-cfd054759f02?q=80&w=2902&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-body-secondary">Branding</h6>

                <!-- Heading -->
                <h4 class="mb-0">Trek Campaign</h4>

              </div>

            </a>

          </div>
        </div>
      </div>
    </section>

    <!-- JAVASCRIPT -->
    <!-- Vendor JS -->
    <script src="{% static 'js/vendor.bundle.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'js/theme.bundle.js' %}"></script>

  </body>
</html>
